
/* 글 페이지 */
/* 제목 */
#boardTitleDiv{
    box-sizing: border-box;
    display: grid;
    position: sticky;
    top: 53px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 0;
    background-color: var(--theme-color);
    box-shadow: inset 0px 0px 80px 0px var(--bg-color);
    font-weight: 600;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postTitle{
    box-sizing: border-box;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 20px 40px;
    font-family: var(--subject-font);
    font-size: var(--post-title-font-size);
}
#postView{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--post-info-font-size);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#likeMarkSpan{
    cursor: pointer;
}
#postInfo1{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 3;
    padding: 20px;
    font-size: var(--post-info-font-size);
}
#postInfo2{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 4;
    padding: 20px;
    font-size: var(--post-info-font-size);
}
#postContents{
    box-sizing: border-box;
    border: 1px solid var(--theme-color);
    padding: 20px;
    text-align: left;
    font-size: var(--contents-font-size);
}

/* 본문 */
#boardContentsDiv{
    box-sizing: border-box;
    border-bottom: 1px dotted var(--theme-color);
    padding: 30px;
    text-align: left;
}

/* 댓글 */
#commentTextarea{
    box-sizing: border-box;
    margin-bottom: -10px;
    padding: 10px;
    width: 100%;
    resize: none;
    scrollbar-color: var(--bg-color);
    border: 2px solid var(--theme-color);
    border-radius: 20px 20px 0 0;
    background-color: var(--bg-color);
    scrollbar-width: none;
}
#commentTextarea:focus{
    outline: none;
}
#commentInputBtn{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid var(--theme-color);
    border-radius: 0 0 20px 20px;

}
.commentGetChild{
    color: gray;
    font-size: var(--comment-ip-font-size);
    cursor: pointer;
}
.commentSetChild{
    color: gray;
    font-size: var(--comment-ip-font-size);
    cursor: pointer;
}

.commentUl{
    box-sizing: border-box;
    display: inline-block;
    width: var(--list-width);
    text-align: left;
}

#commentParentDiv>li{
    box-sizing: border-box;
    border-top: 1px dotted var(--theme-color);
    border-bottom: 1px dotted var(--theme-color);
    padding: 10px;
}

.subCommentUl{
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
}

.subCommentUl>li{
    box-sizing: border-box;
    padding: 10px;
    padding-left: 50px;
}

.commentEmail{
    box-sizing: border-box;
    font-family: var(--category-font);
    font-size: var(--comment-email-font-size);
    font-weight: 600;
    color: var(--theme-color);
    cursor: pointer;
}

.commentIp{
    box-sizing: border-box;
    font-size: var(--comment-ip-font-size);
    color: var(--font-color);
}

.commentDate{
    box-sizing: border-box;
    font-size: var(--comment-ip-font-size);
    color: var(--font-color);
}

.commentContents{
    box-sizing: border-box;
    padding-left: 10px;
    font-size: var(--comment-font-size);
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    #boardTitleDiv{
        top: 41px;
        position: relative;
    }
    #postTitle{
        padding: 10px;
    }
    #postView{
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 0;
    }
    #postInfo1{
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px 0 10px 0;
    }
    #postInfo2{
        grid-row: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 5px 0 10px 0;
    }
}

@media screen and (max-width:805px){
    #boardTitleDiv{
        top: 35px;
        position: sticky;
    }
}