
/* 글 페이지 */
/* 제목 */
#boardTitleDiv{
    box-sizing: border-box;
    display: grid;
    position: sticky;
    top: 53px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 0;
    background-color: var(--theme-color);
    box-shadow: inset 0px 0px 80px 0px var(--bg-color);
    font-weight: 600;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postTitle{
    box-sizing: border-box;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 20px 40px;
    font-family: var(--subject-font);
    font-size: var(--font-size-1);
}
#postView{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--font-size-4);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#likeMarkSpan{
    cursor: pointer;
}
#deleteDiv{
    grid-row: 2;
    grid-column: 2;
    padding-top: 20px;
    padding-bottom: 20px;
}
#deleteDiv>span{
    cursor: pointer;
}
#postInfo1{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 3;
    padding: 20px;
    font-size: var(--font-size-4);
}
#postInfo2{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 4;
    padding: 20px;
    font-size: var(--font-size-4);
}
#postContents{
    box-sizing: border-box;
    border: 1px solid var(--theme-color);
    padding: 20px;
    text-align: left;
    font-size: var(--font-size-5);
}

/* 본문 */
#boardContentsDiv{
    box-sizing: border-box;
    border-bottom: 1px dotted var(--theme-color);
    padding: 30px;
    text-align: left;
    overflow: auto;
}

/* 이미지 */
.image>img{
    display: block;
    width: 100%;
}
.image-style-side{
    float: right;
    max-width: 50%;
}
.image-style-side>img{
    max-width: 100%;
}
.image>figcaption{
    font-style: italic;
    font-size: var(--font-size-7);
    color: gray;
}

/* 댓글 */
.commentTextarea{
    box-sizing: border-box;
    margin-bottom: -10px;
    padding: 10px;
    width: 100%;
    resize: none;
    scrollbar-color: var(--bg-color);
    border: 2px solid var(--theme-color);
    border-radius: 20px 20px 0 0;
    background-color: var(--bg-color);
    scrollbar-width: none;
}
.commentTextarea:focus{
    outline: none;
}
.commentInputBtn{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid var(--theme-color);
    border-radius: 0 0 20px 20px;

}

.commentUl{
    box-sizing: border-box;
    display: inline-block;
    width: var(--list-width);
    text-align: left;
}

#commentParentDiv>li{
    box-sizing: border-box;
    border-top: 1px dotted var(--theme-color);
    border-bottom: 1px dotted var(--theme-color);
    padding: 10px;
}

.subCommentUl{
    box-sizing: border-box;
    display: block;
    width: 80%;
}

.subCommentUl>li{
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
}
.subCommentUl>li::before{
    content: '└ ';
    color: var(--theme-color);
}

.commentEmail{
    box-sizing: border-box;
    font-family: var(--category-font);
    font-size: var(--font-size-5);
    font-weight: 600;
    color: var(--theme-color);
    cursor: pointer;
}

.commentIp{
    box-sizing: border-box;
    margin-left: 2px;
    font-size: var(--font-size-7);
    color: var(--font-color);
}

.commentDate{
    box-sizing: border-box;
    margin: 0 5px;
    font-size: var(--font-size-7);
    color: var(--font-color);
}

.commentContents{
    box-sizing: border-box;
    display: block;
    padding-left: 10px;
    font-size: var(--font-size-5);
}

.deleted{
    font-style: italic;
    color: gray;
}

.commentGetChild{
    margin: 0 5px;
    color: gray;
    font-size: var(--font-size-7);
    cursor: pointer;
}
.commentSetChild{
    margin: 0 5px;
    color: gray;
    font-size: var(--font-size-7);
    cursor: pointer;
}
.commentRemove{
    margin: 0 5px;
    color: gray;
    font-size: var(--font-size-7);
    cursor: pointer;
}

/* 버튼 */
#topBtn{
    box-sizing: border-box;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 98;
    padding-top: 8px;
    padding-left: 2px;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    font-size: 20px;
    color: var(--bg-color);
    border-radius: 30px;
    cursor: pointer;
}
#writeBtn{
    box-sizing: border-box;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 98;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    font-size: 30px;
    font-weight: 600;
    color: var(--bg-color);
    border-radius: 30px;
    cursor: pointer;
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    #boardTitleDiv{
        top: 41px;
        position: relative;
    }
    #postTitle{
        padding: 10px;
    }
    #postView{
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 0;
    }
    #postInfo1{
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px 0 10px 0;
    }
    #postInfo2{
        grid-row: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 5px 0 10px 0;
    }
}

@media screen and (max-width:805px){
    #boardTitleDiv{
        position: static;
    }
}