#categoryTitlesListUl{
    width: 80%;
}
#writeBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    font-size: 30px;
    font-weight: 600;
    color: var(--bg-color);
    border-radius: 30px;
    cursor: pointer;
}