
/* 메인페이지 */
#mainDiv{
    padding-bottom: 30px;
}
#postTitleBox{
    display: grid;
    position: sticky;
    top: 53px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 20px;
    background-color: var(--theme-color);
    box-shadow: inset 0px 0px 80px 0px var(--bg-color);
    font-weight: 600;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postTitle{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--subject-font);
    font-size: 60px;
}
#postView{
    grid-row: 2;
    grid-column: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postInfo1{
    grid-row: 2;
    grid-column: 3;
    padding: 20px;
    font-size: 18px;
}
#postInfo2{
    grid-row: 2;
    grid-column: 4;
    padding: 20px;
    font-size: 18px;
}
#postContents{
    border: 1px solid var(--theme-color);
    padding: 20px;
    text-align: left;
}

/* 미디어쿼리 태블릿 */
@media screen and (min-width:768px) and (max-width: 1023px) {
}

/* 미디어쿼리 모바일 */
@media screen and (max-width:767px){
    
}
@media screen and (max-width:400px){
    #mainDiv{
        margin: 0 auto;
        width: 320px;
    }
    #postTitleBox{
        top: 35px;
    }
    #postTitle{
        padding: 10px;
        font-size: 30px;
    }
    #postView{
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 0;
        font-size: 12px;
    }
    #postInfo1{
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px 0 10px 0;
        font-size: 12px;
    }
    #postInfo2{
        grid-row: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 5px 0 10px 0;
        font-size: 12px;
    }
    #postContents{
        font-size: 13px;
    }
    
}
