/* 1920 X 1080 기준 */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --theme-color: #A67F78;
    --bg-color : #E1DCD9;
    --dark-color : #352C27;
    --font-color : #32435F;
    --title-font : "East Sea Dokdo", sans-serif;
    --category-font : "Nanum Gothic", sans-serif;
    --subject-font : "Orbit", sans-serif;
    --contents-font : "Noto Sans KR", sans-serif;
    --title-size : 52px;
    --logo-size : 150px;
}

/* 공용 부분 */
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    text-align: center;
}

input{
    width: 100px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    padding: 2px 10px;
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
}

button{
    width: 70px;
    padding: 2px 10px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
    cursor: pointer;
}

button:hover{
    background-color: var(--theme-color);
    color: var(--bg-color);
    font-weight: bold;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: var(--theme-color);
}

/* 타이틀 부분 */

#titleBar{
    position: sticky;
    margin-top: 5px;
    top: 0px;
    left: 0;
    width: 100%;
    height: var(--title-size);
    background-color: var(--dark-color);
    z-index: 999;
}

#title{
    font-family: var(--title-font);
    font-size: 40px;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--theme-color);
}

#titleHorizontalLine{
    position: sticky;
    top: var(--title-size);
}

/* 헤더 부분 */
header{
    background-color: var(--dark-color);
    z-index: 998;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    font-family: var(--subject-font);
    color: var(--bg-color);
    font-size: 12px;
}

#loginDiv{
    padding: 0 40px;
}


/* 메인 부분 */
main{
    display: flex;
    justify-content: center;
}

/* 사이드바 부분 */
sidebar{
    position: sticky;
    top: var(--title-size);
    align-self: flex-start;
    padding: 20px 10px;
    width: 300px;
    font-family: var(--category-font);
    color: var(--dark-color);
}

#logoDiv{
    margin: 10px auto;
    width: var(--logo-size);
    height: var(--logo-size);
    border: 2px solid var(--theme-color);
}

#noticeDiv{
    margin: 10px auto;
}

#searchDiv{
    margin: 10px auto;
}

#searchInput{
    margin-right: -6px;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#searchBtn{
    margin-left: 0;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#categoryDiv{
    margin: 10px auto;
    width: 200px;
    height: 400px;
    border: 2px solid var(--theme-color);
}

#recentDiv{
    margin: 10px auto;
    width: 200px;
    height: 150px;
    border: 2px solid var(--theme-color);
}

/* 컨텐츠 부분 */
contents{
    width: 1000px;
    padding-top: 5px;
    color: var(--font-color);
    font-family: var(--contents-font);
    border-left: 1px dotted var(--theme-color);
    border-right: 1px dotted var(--theme-color);
}

/* 미디어쿼리 태블릿 */
@media screen and (min-width:768px) and (max-width: 1023px) {
}

/* 미디어쿼리 모바일 */
@media screen and (max-width:767px){
}

/* 상황에따라 4k도 별도 미디어쿼리 작성여부 판단 */