@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 변수 */
:root{
    --title-font : "East Sea Dokdo", sans-serif;
    --category-font : "Nanum Gothic", sans-serif;
    --subject-font : "Orbit", sans-serif;
    --contents-font : "Noto Sans KR", sans-serif;
    --theme-color: #A67F78;
    --bg-color : #E1DCD9;
    --dark-color : #352C27;
    --font-color : #32435F;
    --main-width : 100%;
    --sidebar-width : 300px;
    --title-height : 52px;
    --logo-size-width : 200px;
    --logo-size-height : 125px;
    --list-width : 60%;
    --subtitle-font-size : 30px;
    --paging-font-size : 20px;
    --post-title-font-size : 40px;
    --post-info-font-size : 18px;
    --contents-font-size : 16px;
    --comment-font-size : 16px;
    --comment-email-font-size : 16px;
    --comment-ip-font-size : 12px;
    --sidebar-font-size : 16px;
    --sidebar-lil-font-size : 14px;
}

/* 태그 */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    text-align: center;
}

input{
    box-sizing: border-box;
    width: 100px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    padding: 2px 10px;
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
}

button{
    box-sizing: border-box;
    width: 70px;
    padding: 2px 10px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
    cursor: pointer;
}

button:hover{
    background-color: var(--theme-color);
    color: var(--bg-color);
    font-weight: bold;
}

ul{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* 클래스 */

.subTitle{
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    color: var(--theme-color);
}

.listUl{
    box-sizing: border-box;
    display: inline-block;
    width: var(--list-width);
    border-top: 1px dotted var(--theme-color);
    text-align: left;
}

.listUl>li{
    box-sizing: border-box;
    font-size: var(--comment-font-size);
    border-bottom: 1px dotted var(--theme-color);
    padding : 3px 10px;
    cursor: pointer;
}

.pagingUl{
    box-sizing: border-box;
    display: inline-flex;
}

.pagingUl>li{
    box-sizing: border-box;
    margin: 5px 5px;
    font-family: var(--title-font);
    font-size: var(--paging-font-size);
    color: var(--theme-color);
    font-weight: 600;
    cursor: pointer;
}

.horizontalLine{
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background-color: var(--theme-color);
}

.spiner{
    animation: spin 1s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.pointer{
    cursor: pointer;
}

.font20{
    font-size: 20px;
}

.font30{
    font-size: 30px;
}

.bolder{
    font-weight: 600;
}

.indentation{
    padding-left: 20px;
}

/* 개발용도 */
.findBorder{
    border: 2px solid var(--theme-color);
}



/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    :root{
        --logo-size-width : 150px;
        --logo-size-height : 90px;
        --main-width : 98%;
        --sidebar-width : 200px;
        --title-height : 40px;
        --list-width : 100%;
        --subtitle-font-size : 20px;
        --comment-font-size : 14px;
        --comment-email-font-size : 12px;
        --comment-ip-font-size : 12px;
        --sidebar-font-size: 12px;
        --post-title-font-size: 41px;
        --post-info-font-size: 14px;
        --contents-font-size: 14px;
    }
    .commentUl>li{
        padding: 0;
        padding-left: 10px;
    }
    .subCommentUl>li{
        padding: 0;
        padding-left: 30px;
    }
}

@media screen and (max-width:805px){
    :root{
        --comment-font-size : 12px;
    }
    .commentIp{
        display: none;
    }
    .commentDate{
        display: none;
    }
    
}

@media screen and (max-width:300px){
    :root{
        --main-width : 300px;
    }
}