/* 1920 X 1080 기준 */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 변수 */
:root{
    --theme-color: #A67F78;
    --bg-color : #E1DCD9;
    --dark-color : #352C27;
    --font-color : #32435F;
    --title-font : "East Sea Dokdo", sans-serif;
    --category-font : "Nanum Gothic", sans-serif;
    --subject-font : "Orbit", sans-serif;
    --contents-font : "Noto Sans KR", sans-serif;
    --title-size : 52px;
    --logo-size-width : 200px;
    --logo-size-height : 125px;
}

/* 공용 */
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    text-align: center;
}

input{
    width: 100px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    padding: 2px 10px;
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
}

button{
    width: 70px;
    padding: 2px 10px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
    cursor: pointer;
}

button:hover{
    background-color: var(--theme-color);
    color: var(--bg-color);
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.subTitle{
    display: block;
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    color: var(--theme-color);
}

.listUl{
    display: inline-block;
    width: 60%;
    border-top: 1px dotted var(--theme-color);
}

.listUl>li{
    border-bottom: 1px dotted var(--theme-color);
    padding-top: 3px;
    padding-bottom: 3px;
}

.pagingUl{
    display: inline-flex;
}

.pagingUl>li{
    margin: 5px 5px;
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 600;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: var(--theme-color);
}

.findBorder{
    border: 2px solid var(--theme-color);
}

/* 템플릿 타이틀 */

#titleBar{
    position: sticky;
    margin-top: 5px;
    top: 0px;
    left: 0;
    width: 100%;
    height: var(--title-size);
    background-color: var(--dark-color);
    z-index: 999;
}

#title{
    font-family: var(--title-font);
    font-size: 40px;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--theme-color);
}

#titleHorizontalLine{
    position: sticky;
    top: var(--title-size);
}

/* 템플릿 헤더 */
header{
    background-color: var(--dark-color);
    z-index: 998;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    font-family: var(--subject-font);
    color: var(--bg-color);
    font-size: 12px;
}

#loginDiv{
    padding: 0 40px;
}


/* 템플릿 메인 */
main{
    display: flex;
    justify-content: center;
}

/* 템플릿 사이드바 */
sidebar{
    position: sticky;
    top: var(--title-size);
    align-self: flex-start;
    padding: 20px 10px;
    width: 300px;
    font-family: var(--category-font);
    color: var(--dark-color);
}

#logoDiv{
    margin: 10px auto;
    width: var(--logo-size-width);
    height: var(--logo-size-height);
}

#noticeDiv{
    margin: 10px auto;
}

#searchDiv{
    margin: 10px auto;
}

#searchInput{
    margin-right: -6px;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#searchBtn{
    margin-left: 0;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#categoryDiv{
    margin: 10px auto;
    width: 200px;
    height: 400px;
    border: 2px solid var(--theme-color);
    border-radius: 20px;
}

#recentDiv{
    margin: 10px auto;
    width: 200px;
    height: 150px;
    border: 2px solid var(--theme-color);
    border-radius: 20px;
}

/* 템플릿 컨텐츠 */
contents{
    width: 1000px;
    padding-top: 5px;
    color: var(--font-color);
    font-family: var(--contents-font);
    border-left: 1px dotted var(--theme-color);
    border-right: 1px dotted var(--theme-color);
}

/* 메인페이지 */
#postTitleBox{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 20px;
    background-color: var(--theme-color);
    box-shadow: inset 0px 0px 80px 0px var(--bg-color);
    font-weight: 600;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postTitle{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--subject-font);
    font-size: 60px;
}
#postView{
    grid-row: 2;
    grid-column: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-shadow: 3px 3px 2px var(--dark-color);
}
#postInfo1{
    grid-row: 2;
    grid-column: 3;
    padding: 20px;
    font-size: 18px;
}
#postInfo2{
    grid-row: 2;
    grid-column: 4;
    padding: 20px;
    font-size: 18px;
}
#postContents{

}

/* 미디어쿼리 태블릿 */
@media screen and (min-width:768px) and (max-width: 1023px) {
}

/* 미디어쿼리 모바일 */
@media screen and (max-width:767px){
}

/* 상황에따라 4k도 별도 미디어쿼리 작성여부 판단 */