@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 변수 */
:root{
    --theme-color: #A67F78;
    --bg-color : #E1DCD9;
    --dark-color : #352C27;
    --font-color : #32435F;
    --title-font : "East Sea Dokdo", sans-serif;
    --category-font : "Nanum Gothic", sans-serif;
    --subject-font : "Orbit", sans-serif;
    --contents-font : "Noto Sans KR", sans-serif;
    --title-size : 52px;
    --logo-size-width : 200px;
    --logo-size-height : 125px;
}

/* 태그 */
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    text-align: center;
}

input{
    width: 100px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    padding: 2px 10px;
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
}

button{
    width: 70px;
    padding: 2px 10px;
    border: 0px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--bg-color);
    font-size: 12px;
    font-family: var(--subject-font);
    color: var(--font-color);
    cursor: pointer;
}

button:hover{
    background-color: var(--theme-color);
    color: var(--bg-color);
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 클래스 */

.subTitle{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    color: var(--theme-color);
}

.listUl{
    display: inline-block;
    width: 60%;
    border-top: 1px dotted var(--theme-color);
}

.listUl>li{
    border-bottom: 1px dotted var(--theme-color);
    padding-top: 3px;
    padding-bottom: 3px;
}

.pagingUl{
    display: inline-flex;
}

.pagingUl>li{
    margin: 5px 5px;
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 600;
}

.commentUl{
    display: inline-block;
    width: 60%;
    text-align: left;
}

.subCommentUl{
    display: inline-block;
    width: 80%;
}

.subCommentUl>li{
    padding: 10px;
    padding-left: 50px;
}

.commentUl>li{
    border-top: 1px dotted var(--theme-color);
    border-bottom: 1px dotted var(--theme-color);
    padding: 10px;
}

.commentEmail{
    font-family: var(--category-font);
    font-weight: 600;
    color: var(--theme-color);
}

.commentIp{
    font-size: 12px;
    color: var(--font-color);
}

.commentDate{
    font-size: 12px;
    color: var(--font-color);
}

.commentContents{
    padding-left: 10px;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: var(--theme-color);
}

/* 개발용도 */
.findBorder{
    border: 2px solid var(--theme-color);
}



/* 미디어쿼리 태블릿 */
@media screen and (min-width:768px) and (max-width: 1023px) {
}

/* 미디어쿼리 모바일 */
@media screen and (max-width:767px){
}
