
/* 타이틀 */

#titleBar{
    box-sizing: border-box;
    position: sticky;
    margin-top: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--title-height);
    background-color: var(--dark-color);
    z-index: 999;
}

#title{
    box-sizing: border-box;
    font-family: var(--title-font);
    font-size: 40px;
    color: var(--bg-color);
    text-shadow: 3px 3px 2px var(--theme-color);
}

#titleHorizontalLine{
    box-sizing: border-box;
    position: sticky;
    top: var(--title-height);
}

/* 헤더 */
header{
    box-sizing: border-box;
    background-color: var(--dark-color);
    z-index: 998;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    font-family: var(--subject-font);
    color: var(--bg-color);
    font-size: 12px;
}

#loginDiv{
    box-sizing: border-box;
    padding: 0 40px;
}

#loginUserName{
    font-size: 18px;
}


/* 메인 */
main{
    width: var(--main-width);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* 사이드바 */
#sidebar{
    box-sizing: border-box;
    top: var(--title-height);
    align-self: flex-start;
    padding: 20px 10px;
    width: var(--sidebar-width);
    font-family: var(--category-font);
    font-size: var(--sidebar-font-size);
    color: var(--dark-color);
}

/* 사이드바 - 로고 */
#logoDiv{
    box-sizing: border-box;
    margin: 10px auto;
    width: var(--logo-size-width);
    height: var(--logo-size-height);
}

/* 사이드바 - 한줄공지 */
#noticeDiv{
    box-sizing: border-box;
    margin: 10px auto;
}

/* 사이드바 - 검색바 */
#searchDiv{
    box-sizing: border-box;
    margin: 10px auto;
}

#searchInput{
    box-sizing: border-box;
    margin-right: -6px;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}
#searchInput:focus{
    outline: none;
}

#searchBtn{
    box-sizing: border-box;
    margin-left: 0;
    font-family: var(--category-font);
    color: var(--dark-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
#searchBtn:focus{
    outline: none;
}

/* 사이드바 - 카테고리 */
#categoryDiv{
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border: 2px solid var(--theme-color);
    border-radius: 20px;
    text-align: left;
    font-family: var(--category-font);
}

.mainCategory{
    box-sizing: border-box;
    padding: 5px 10px;
    font-weight: 600;
}

.subCategory{
    box-sizing: border-box;
    padding-left: 20px;
    cursor: pointer;
}

/* 사이드바 - 최근 글 */
#recentDiv{
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border: 2px solid var(--theme-color);
    border-radius: 20px;
    text-align: left;
}

.recentlyLi{
    box-sizing: border-box;
    padding: 1px 10px;
    cursor: pointer;
    font-size: var(--sidebar-lil-font-size);
}

/* 템플릿 컨텐츠 */
#contents{
    box-sizing: border-box;
    width: 1000px;
    padding-top: 5px;
    color: var(--font-color);
    font-family: var(--contents-font);
    border-left: 1px dotted var(--theme-color);
    border-right: 1px dotted var(--theme-color);
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
    main{
        margin: 0 auto;
    }
    #sidebar{
        position: relative;
    }
    #titleBar{
        margin: 0;
        top: 0px;
    }
    #title{
        font-size: 30px;
    }
    #categoryDiv{
        width: 180px;
    }
    #recentDiv{
        width: 180px;
    }
    #contents{
        width: var(--main-width);
    }
}

@media screen and (max-width:805px){
    #sidebar{ /* 버튼식으로 변경 예정 */
        display: none;
    }
    header{
        display: none;
    }
    #titleHorizontalLine{
        display: none;
    }
}
