.userInfoTitle{
    grid-column: 1;
    text-align: right;
    margin: 10px;
}

.userInfoContents{
    grid-column: 2;
    text-align: left;
    margin: 10px;
}

#userDiv{
    margin-top: 30px;
}

#userInfo{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 45% 55%;
}

#userLeaveBtn{
    color: var(--bg-color);
    border-color: var(--theme-color);
    background-color: var(--theme-color);
}

#userLeaveBtn:hover{
    background-color: var(--dark-color);
}

/* changePwModal */

#changePwModal{
    position: absolute;
    top: 240px;
    left: auto;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    border: 3px solid var(--theme-color);
    border-radius: 20px;
    background: var(--bg-color);
}

#changePwModal>form{
    box-sizing: border-box;
    display: inline-grid;
}

#changePwModal>form>label{
    box-sizing: border-box;
    grid-column: 1;
    margin: 3px;
}
#changePwModal>form>input{
    box-sizing: border-box;
    grid-column: 2;
    margin: 3px;
}
#userChangePwInfo{
    box-sizing: border-box;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
    color: red;
}
#changePwSubmitBtn{
    box-sizing: border-box;
    grid-column: 1;
    margin: 3px auto;
    width: 100px;
    height: 30px;
    font-weight: 600;
}
#changePwCancelBtn{
    box-sizing: border-box;
    grid-column: 2;
    margin: 3px auto;
    width: 100px;
    height: 30px;
    font-weight: 600;
    color: var(--bg-color);
    border-color: var(--theme-color);
    background-color: var(--theme-color);
}
#changePwCancelBtn:hover{
    background-color: var(--dark-color);
}

/* userVerifyModal */

#userVerifyModal{
    position: absolute;
    top: 240px;
    left: auto;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    border: 3px solid var(--theme-color);
    border-radius: 20px;
    background: var(--bg-color);
}
#userVerifyModal>form{
    box-sizing: border-box;
    display: inline-grid;
    text-align: center;
}

#userVerifyInput{
    box-sizing: border-box;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 3px auto;
    width: 220px;
    height: 30px;
}

#userVerifyConfirmBtn{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1;
    margin: 3px 10px 3px auto;
    width: 100px;
    height: 30px;
    font-weight: 600;
}

#userVerifyConfirmBtn:disabled{
    border-color: gray;
    color: gray;
    cursor: auto;
}
#userVerifyConfirmBtn:disabled:hover{
    background-color: var(--bg-color);
    cursor: auto;
}

#userVerifyMailBtn{
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 2;
    margin: 3px auto 3px 10px;
    width: 100px;
    height: 30px;
    font-weight: 600;
}

#userVerifyCancelBtn{
    box-sizing: border-box;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 3px auto;
    width: 100px;
    height: 30px;
    font-weight: 600;
    color: var(--bg-color);
    border-color: var(--theme-color);
    background-color: var(--theme-color);
}

#userVerifyCancelBtn:hover{
    background-color: var(--dark-color);
}