/* 1920 X 1080 기준 */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --theme-color: #A67F78;
    --bg-color : #E1DCD9;
    --dark-color : #352C27;
    --font-color : #32435F;
    --title-font : "East Sea Dokdo", sans-serif;
    --category-font : "Nanum Gothic", sans-serif;
    --subject-font : "Orbit", sans-serif;
    --contents-font : "Noto Sans KR", sans-serif;
}

/* 공용 부분 */
body{
    display: grid;
    grid-template-columns: 1fr 300px 1080px 300px 1fr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    text-align: center;
}

/* 헤더 부분 */
#header{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: var(--dark-color);
    color: var(--bg-color);
    font-family: var(--title-font);
    font-size: 40px;
    text-shadow: 3px 3px 2px var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

/* 사이드바 부분 */
#sidebar{
    grid-row: 2;
    grid-column: 2;
    font-family: var(--category-font);
    color: var(--dark-color);
}

/* 컨텐츠 부분 */
#contents{
    grid-row: 2;
    grid-column: 3;
    color: var(--font-color);
    font-family: var(--contents-font);
}

/* 우측 사이드바 부분 */
#rightsidebar{
    grid-row: 2;
    grid-column: 4;
}

/* 미디어쿼리 태블릿 */
@media screen and (min-width:768px) and (max-width: 1023px) {
}

/* 미디어쿼리 모바일 */
@media screen and (max-width:767px){
}

/* 상황에따라 4k도 별도 미디어쿼리 작성여부 판단 */