<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/admin.css')}}">
    <title>adminPage</title>
</head>
<body>
    <h1 id="adminTitle">Admin Page</h1>
    <div class="adminComponent">
        <h2>◎ Server System Info ({{systemInfo['os']}})</h2>
        <table id="adminSystemInfo">
            <thead>
                <tr>
                    <th>CPU</th>
                    <th>MEM</th>
                    <th>Storage</th>
                    <th>uptime</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="systemGraphDiv">
                            <span class="systemGraphText">{{systemInfo['cpuUsage']}} %</span>
                            <div class="systemGraphBar" style="width: {{systemInfo['cpuUsage']*1.8}}px;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="systemGraphDiv">
                            <span class="systemGraphText">{{systemInfo['usedMem']}} / {{systemInfo['totalMem']}} GB</span>
                            <div class="systemGraphBar" style="width: {{(systemInfo['usedMem']/systemInfo['totalMem'])*180}}px;"></div>
                        </div>
                    </td>
                    <td>
                        <div class="systemGraphDiv">
                            <span class="systemGraphText">{{systemInfo['usedStorage']}} / {{systemInfo['totalStorage']}} GB</span>
                            <div class="systemGraphBar" style="width: {{(systemInfo['usedStorage']/systemInfo['totalStorage'])*180}}px;"></div>
                        </div>
                    </td>
                    <td>
                        {{systemInfo['bootTime']}}<br>({{systemInfo['uptime']}})
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button id="adminCheckImageBtn">이미지파일정리</button>
                    </td>
                    <td>
                        <button id="adminDeleteDummyBtn">더미파일삭제</button>
                    </td>
                    <td>
                        <button id="adminRebootBtn">서버재부팅</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="adminComponent">
        <h2>◎ Notice</h2>
        <div id="adminNoticeDiv">
            <textarea id="adminNoticeTextarea">{{notice}}</textarea>
            <button id="adminNoticeBtn" style="box-sizing: border-box; width: 800px; padding: 3px;">내용 수정하기</button>
        </div>
    </div>
    <div class="adminComponent">
        <h2>◎ Categories</h2>
        <div id="adminCategoryDiv">
            {% for parentCate in categoryList %}
            <div id="parent_{{parentCate[0].getOrder()}}" class="adminParentCateDiv">
                <div id="parentName_{{parentCate[0].getNo()}}" class="adminParentName">
                    <span>{{parentCate[0].getName()}}</span>
                    <span class="adminChildPointer" onclick="changeParentCategoryName(this.parentElement)">✏️</span>
                    <span class="adminChildPointer" onclick="deleteCategory(this.parentElement.parentElement)">❌</span>
                    <span class="adminChildPointer" onclick="moveParentCategoryDiv(this.parentElement.parentElement.id,'up')">⬆️</span>
                    <span class="adminChildPointer" onclick="moveParentCategoryDiv(this.parentElement.parentElement.id,'down')">⬇️</span> 
                </div>
                <div id="child_{{parentCate[0].getOrder()}}">
                    {% for childCate in parentCate[1] %}
                    <div id="childName_{{parentCate[0].getNo()}}_{{childCate.getNo()}}_{{childCate.getOrder()}}" class="adminChildName">
                        <span>{{childCate.getName()}}({{childCate.getCount()}})</span>
                        <span class="adminChildPointer" onclick="changeChildCategoryName(this.parentElement)">✏️</span>
                        <span class="adminChildPointer" onclick="deleteCategory(this.parentElement)">❌</span>
                        <span class="adminChildPointer" onclick="moveChildCategoryDiv(this.parentElement.id,'up')">⬆️</span>
                        <span class="adminChildPointer" onclick="moveChildCategoryDiv(this.parentElement.id,'down')">⬇️</span> 
                    </div>
                    {% endfor %}
                </div>
                <div id="child_new_{{parentCate[0].getOrder()}}" class="adminChildPointer child_new" onclick="newChildCategory(this)">+</div>
            </div>
            {% endfor %}
            <div id="parent_new" class="adminParentCateDiv adminChildPointer" onclick="newParentCategory()">+</div>
        </div>
        <button id="adminCateBtn">변경 적용</button>
    </div>
    <div class="adminComponent">
        <h2>◎ Analysis</h2>
        <div id="adminAnalysisSelectDiv">
            <select id="adminAnalysisCategorySelect">
                <option>조회수</option>
                <option>새글수</option>
                <option>새댓글수</option>
                <option>회원수</option>
                <option>신규가입수</option>
                <option>차단수</option>
            </select>
            <select id="adminAnalysisDuringSelect">
                <option>연간</option>
                <option>월간</option>
                <option>주간</option>
                <option>일간</option>
                <option>시별</option>
            </select>
            <select id="adminAnalysisYearSelect">
                <option>2026</option>
            </select>
            <select id="adminAnalysisMonthSelect">
                {% for i in range(12) %}
                <option>{{i+1}}</option>
                {% endfor %}
            </select>
            <select id="adminAnalysisDateSelect">
                {% for i in range(31) %}
                <option>{{i+1}}</option>
                {% endfor %}
            </select>
            <button id="adminAnalysisBtn">조회</button>
        </div>
        <div id="adminAnalysisNowCate">현재 카테고리</div>
        <div id="adminAnalysis-Now-Y-title">y축</div>
        <div id="adminAnalysis-frame">
            <div id="adminAnalysis-Y-title">
                {% for i in range(10) %}
                <div>{{i+1}}</div>
                {% endfor %}
            </div>
            <div id="adminAnalysis">
                {% for i in range(12) %}
                <div class="analysisGraphCoordX">
                    {% for j in range(i) %}
                    <div class="analysisGraphColor"></div>
                    {% endfor %}
                    <div>{{i}}</div>
                </div>
                {% endfor %}
            </div>
            <div id="adminAnalysis-X-title">
                {% for i in range(12) %}
                <div>{{i+1}}</div>
                {% endfor %}
            </div>
        </div>
        <div id="adminAnalysis-Now-X-title">x축</div>
    </div>
    



    <script src="{{url_for('static',filename='./script/admin.js')}}"></script>
</body>
</html>