{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='./css/board.css')}}">
<div id="boardNoDiv" style="display: none;">{{targetBoard.getNo()}}</div>
<div id="nowCnoDiv" style="display: none;">{{targetBoard.getCategoryNo()}}</div>
<div id="nowPageDiv" style="display: none;">{{nowPage}}</div>

<div id="boardDiv">
    <div id="boardCategoryListDiv" class="contentsList">
        <span class="subTitle">Category Posts - '<span onclick="window.location.href='/category/{{targetBoard.getCategoryNo()}}'">{{cName}}'</span></span>
        <table id="titlesListTable" class="listTable"></table><br>
        <ul id="boardPagingUl" class="pagingUl">
            <li id="boardPrev" onclick="boardPrevPage()">[prev]</li>
            {% for page in pageList %}
            <li class="pages" onclick="setCateList('{{page}}')">{{page}}</li>
            {% endfor %}
            <li id="boardNext" onclick="boardNextPage()">[next]</li>
        </ul>
    </div>
    <div id="boardTitleDiv">
        <div id="postTitle">{{targetBoard.getTitle()}}</div>
        <div id="postView">
            👁️&nbsp;
            {{targetBoard.getView()}}
            &nbsp;&nbsp;
            {% if isLiked %}
            <span id="likeMarkSpan">❤️</span>
            {% else %}
            <span id="likeMarkSpan" onclick="setLike()">🤍</span>
            {% endif %}
            &nbsp;<span id="likeCountSpan">{{targetBoard.getLike()}}</span>
            &nbsp;&nbsp;📝&nbsp;{{targetBoard.getCommentCount()}}
        </div>
        <div id="deleteDiv">
            {% if clientUser.getState() == 5 or (clientUser.getNo() != 0 and targetBoard.getUserNo() == clientUser.getNo()) %}
            <button class="bolder" onclick="window.location.href='/modify/{{targetBoard.getNo()}}'">수정</button>
            <button class="bolder" onclick="window.location.href='/deleteBoard/{{targetBoard.getNo()}}'">삭제</button>
            {% endif %}
        </div>
        <div id="postInfo1" class="pointer" onclick="window.location.href='/user/{{targetBoard.getUserNo()}}'">{{targetBoard.getMarkingEmail()}}</div>
        <div id="postInfo2">{{targetBoard.getDate()}}</div>
    </div>
    <div id="boardContentsDiv">
        {{targetBoard.getContents()|safe}}
    </div>
    <div id="boardCommentDiv">
        <span class="subTitle">comment</span>
        <ul class="commentUl">
            <div>
                <textarea class="commentTextarea" id="commentTextarea"></textarea><br>
                <button class="commentInputBtn" id="commentInputBtn" onclick="insertComment(0)">등록 (0/1000자)</button>
            </div>
            <div id="commentParentDiv"></div>
        </ul><br>
        <ul class="pagingUl">
            {% for commentPage in commentPageList %}
            <li id="commentPage{{commentPage}}">{{commentPage}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="topBtn" onclick="">top</div>
    {% if isWritable %}
    <div id="writeBtn" onclick="window.location.href='/write/{{targetBoard.getCategoryNo()}}'">+</div>
    {% endif %}
</div>
<script src="{{url_for('static',filename='./script/board.js')}}"></script>
{% endblock %}