<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <title>페이지를 찾을 수 없습니다.</title>
</head>
<body>
    <h1 class="subTitle">404: 페이지를 찾을 수 없습니다. (Page Not Found)</h1>
    <div class="horizontalLine"></div>
    <img src="{{url_for('static',filename='./img/404.png')}}" style="width: 80%;">
    <p class="font20 bolder" style="margin: 20px;">404~ 뉴 에라 에라~</p>
    <iframe
        src="https://www.youtube.com/embed/zhHB4dZTChw?si=q6SigJPFoCA0d4Jr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen style="width: 80%; aspect-ratio: 3/2; max-width: 600px;"></iframe>
    <p>(주소 없는 김에 듣고 가도 됨)</p>
    
    <button class="font20" onclick="window.location.href='/'" style="width: 20%;">홈으로</button>
</body>
</html>