<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <title>페이지를 찾을 수 없습니다.</title>
</head>
<body>
    <h1 class="subTitle">404: 페이지를 찾을 수 없습니다. (Page Not Found)</h1>
    <div class="horizontalLine"></div>
    <img src="{{url_for('static',filename='./img/404.png')}}" style="width: 80%; max-width: 600px; margin-top: 20px;">
    <p class="font20 bolder" style="margin: 10px;">404~ 뉴 에라 에라~</p>
    <button class="font20" onclick="window.location.href='/'" style="width: 20%; margin: 10px;">홈으로</button>
    <br>
    <p>(주소 없는 김에 404노래 듣고 가도 됨)</p>
    <iframe
        src="https://www.youtube.com/embed/zhHB4dZTChw?si=q6SigJPFoCA0d4Jr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        style="width: 80%; aspect-ratio: 3/2; max-width: 600px; position: sticky; top:0;"
    >
    </iframe>
    
    <h3>404(New Era)</h3>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
        404 좌표 밖의 지점<br>
        404 The new era era<br>
    </p>
    <p>
        404 우리 신호는 Question<br>
        404 안 떠 Radar radar<br>
        404 백지를 내도 백 점<br>
        404 The new era era<br>
    </p>
    <p>
        나 잡아봐라 Off the Wi-Fi<br>
        말을 안 해도 I’m already on this vibe<br>
    </p>
    <p>
        Always riding low 안 터져 안테나<br>
        경계를 넘어서 이미 Outta town<br>
    </p>
    <p>
        Criss cross, lip gloss<br>
        Missed some 괜찮아 Uh uh<br>
    </p>
    <p>
        Everyday 내 방식대로 해<br>
        Take my time, bring it on<br>
    </p>
    <p>
        (Bye) And it feels good<br>
        (Bye) All left behind<br>
        (Bye) 모든 짐은 다 놔둘게<br>
        U know this feeling 좀 더 크게<br>
        Yeah yeah keep on surfing<br>
    </p>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
        404 좌표 밖의 지점<br>
        404 The new era era<br>
    </p>
    <p>
        404 백지를 내도 백 점<br>
        404 안 떠 Radar radar<br>
        404 Not Found in the system<br>
        404 The new era era<br>
    </p>
    <p>
        404 All the girlies to the floor<br>
        들어 손 흔들어 몸<br>
        Wink wink 메롱<br>
    </p>
    <p>
        찾지 못해도 어디든 있잖아<br>
        Put down your phone<br>
        Look me in my eyes<br>
    </p>
    <p>
        (Bye) And it feels good<br>
        (Bye) All left behind<br>
        (Bye) 모든 짐은 다 놔둘게<br>
        U know this feeling 좀 더 크게<br>
        Yeah yeah keep on surfing<br>
    </p>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
        404 좌표 밖의 지점<br>
        404 The new era era<br>
    </p>
    <p>
        404 우리 신호는 Question<br>
        404 안 떠 Radar radar<br>
        404 백지를 내도 백 점<br>
        404 The new era era<br>
    </p>
    <p>
        We can have it all<br>
        골라줘 31<br>
        Tell me what you want<br>
    </p>
    <p>
        I know something’s up<br>
        너가 원하는 걸<br>
        Let’s run into unknown<br>
    </p>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
        404 좌표 밖의 지점<br>
        404 The new era era<br>
    </p>
    <p>
        404 백지를 내도 백 점<br>
        404 안 떠 Radar radar<br>
        404 Not Found in the system<br>
        404 The new era era<br>
    </p>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
    </p>
    <p>
        404 Not Found in the system<br>
        404 The new era era<br>
    </p>
    <div class="horizontalLine"></div>
    <button class="font20" onclick="window.location.href='/'" style="width: 20%; margin: 10px;">홈으로</button>
</body>
</html>