<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <title>페이지를 찾을 수 없습니다.</title>
</head>
<body>
    <h1 class="subTitle">404: 페이지를 찾을 수 없습니다. (Page Not Found)</h1>
    <div class="horizontalLine"></div>
    <p class="font20 bolder" style="margin: 100px;">요청하신 URL은 존재하지 않거나 사용할 수 없습니다.</p>
    <button class="font20" onclick="window.location.href='/'" style="width: 20%;">홈으로 돌아가기</button>
</body>
</html>