<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <script src="{{url_for('static',filename='./script/script.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <header id="header">CK-Blog(가제) 로그인/아웃/회원가입/비번찾기</header>
    <sidebar id="sidebar">
        로고<br>
        한줄공지<br>
        client 정보(비로그인시 IP정보, 클릭시 로그인 or 회원정보)<br>
        검색<br>
        카테고리<br>
        최근에 본 글
    </sidebar>
    <contents id="contents">컨텐츠</contents>
    <rightsidebar id="rightsidebar"></rightsidebar>
</body>
</html>