{% extends 'template.html' %}

{% block content %}
<div id="mainDiv">
    <div id="mainRecentlyContentsListDiv" class="findBorder">
        최신글 목록
        <ul>
            {% for title in titleList %}
            <li>{{title[0]}}, {{title[1]}}</li>
            {% endfor %}
        </ul>
        <ul class="paging">
            {% for page in pageList %}
            <li>{{page}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="mainRecentlyContentsDiv" class="findBorder">
        최신글
        <div> 글번호 : {{recentlyboard.getNo()}}</div>
        <div>
            제목 : {{recentlyboard.getTitle()}}
            (조회수 : {{recentlyboard.getView()}})
            (좋아요수 : {{recentlyboard.getLike()}})
        </div>
        <div> 작성자 : {{recentlyboard.getUserEmail()}}</div>
        <div> 작성일 : {{recentlyboard.getDate()}}</div>
        <div> 내용 : {{recentlyboard.getContents()}}</div>
        <div id="commentDiv" class="findBorder">
            댓글
            <ul>
                {% for comment in commentList %}
                <li>
                    작성자:{{comment[0].getUserEmail()}}({{comment[0].getMarkingIp()}}),{{comment[0].getDate()}}<br>
                    댓글:{{comment[0].getComment()}}
                </li>
                <ul>
                    {% for childComment in comment[1] %}
                    <li>
                        작성자:{{childComment.getUserEmail()}}({{childComment.getMarkingIp()}}),{{childComment.getDate()}}<br>
                        댓글:{{childComment.getComment()}}
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
            <ul class="paging">
            {% for commentPage in commentPageList %}
            <li>{{commentPage}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
<script>
    
</script>
{% endblock %}