{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='./css/mainPage.css')}}">

<div id="mainDiv">
    <div id="mainNoticeDiv">
        <div class="subTitle">NOTICE</div>
        <div id="mainNoticeContents">
            {% for line in notice %}
                <p>{{line}}</p>
            {% endfor %}
        </div>
    </div>
    <div id="mainRecentlyContentsListDiv">
        <span class="subTitle">Lastest Post</span>
        <ul class="listUl">
            {% for title in titleList %}
            <li id="title_{{title[0]}}">{{title[1]}}</li>
            {% endfor %}
        </ul><br>
        <ul class="pagingUl">
            {% for page in pageList %}
            <li id="page_{{page}}">{{page}}</li>
            {% endfor %}
        </ul>
    </div>
    
</div>
<script>
    
</script>
{% endblock %}