{% extends 'template.html' %}

{% block content %}
<div id="mainDiv">
    mainPage
    <div id="mainRecentlyContentsListDiv" class="contentsList">
        recentlyContentsList
        <ul>
            {% for title in titleList %}
            <li>{{title[0]}}, {{title[1]}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for page in pageList %}
            <li>{{page}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="mainRecentlyContentsDiv">
        recentlyContents
        <div> No : {{recentlyboard.getNo()}}</div>
        <div> title : {{recentlyboard.getTitle()}}</div>
        <div> user : {{recentlyboard.getUserNo()}}</div>
        <div> date : {{recentlyboard.getDate()}}</div>
        <div> contents : {{recentlyboard.getContents()}}</div>
        <div> view : {{recentlyboard.getView()}}</div>
        <div> like : {{recentlyboard.getLike()}}</div>
        <div id="commentDiv">
            <ul>
                {% for comment in commentList %}
                <li>
                    {% if comment[0].getIsDelete() == 0 %}
                    작성자:{{comment[0].getUserNo()}}({{comment[0].getIP()}}),{{comment[0].getDate()}}<br>
                    댓글:{{comment[0].getComment()}}<br>
                    {% else %}
                    삭제된 댓글임. ㅇㅇ
                    {% endif %}
                </li>
                <ul>
                    {% for childComment in comment[1] %}
                    <li>
                        {% if childComment.getIsDelete() == 0 %}
                        작성자:{{childComment.getUserNo()}}({{childComment.getIP()}}),{{childComment.getDate()}}<br>
                        댓글:{{childComment.getComment()}}<br>
                        {% else %}
                        삭제된 댓글임. ㅇㅇ
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
                </ul>
        </div>
    </div>
</div>
<script>
    
</script>
{% endblock %}