{% extends 'template.html' %}

{% block content %}
<div id="searchPageDiv">
    <div></div>
    <div id="searchResultListDiv" class="contentsList">
        <div id="nowSearchPageDiv" style="display: none;">1</div>
        <div id="searchKeywordDiv" style="display: none;">{{keyword}}</div>
        <ul id="searchListUl" class="listUl"></ul><br>
        <ul id="searchPagingUl" class="pagingUl">
        <li id="searchPrev" onclick="searchPrevPage()">[prev]</li>
        {% for page in pageList %}
        <li class="pages" onclick="setSearchList('{{page}}')">{{page}}</li>
        {% endfor %}
        <li id="searchNext" onclick="searchNextPage()">[next]</li>
    </ul>
    </div>
</div>
<script src="{{url_for('static',filename='./script/search.js')}}"></script>
{% endblock %}