<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <script src="{{url_for('static',filename='./script/script.js')}}"></script>
    <title>널리 인간을 일 없게 하라</title>
</head>
<body>
    <div id="titleBar">
        <div class="horizontalLine"></div>
        <div id="title">널리 인간을 일 없게 하라</div>
    </div>
    <header>
        <div id="loginDiv">
            <input type="email" placeholder="Email address"/>
            <input type="password" placeholder="Password"/>
            <button id="loginBtn">로그인</button>
            <button id="joinBtn">회원가입</button>
            <button id="findPwBtn">비번찾기</button>
        </div>
    </header>
    <div class="horizontalLine" id="titleHorizontalLine"></div>
    <main>
        <sidebar>
            <img src="{{url_for('static',filename='./img/logo.svg')}}" id="logoDiv"></img>
            <div id="noticeDiv">한줄 공지/인사글</div>
            <div id="userInfoDiv">client/IP정보</div>
            <div id="searchDiv">
                <input id="searchInput" />
                <button id="searchBtn">search</button>
            </div>
            <div id="categoryDiv">
                <ul>
                {% for category in categoryList %}
                <li>{{category[0].getName()}}</li>
                <ul>
                    {% for childCategory in category[1] %}
                    <li>{{childCategory.getName()}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                </ul>
            </div>
            <div id="recentDiv">
                최근에 본 글
                <ul>
                    {% for recentlyTitle in recentlyTitleList %}
                    <li>{{recentlyTitle[0]}}, {{recentlyTitle[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </sidebar>
        <contents>
            {% block content %} {% endblock %}
        </contents>
    </main>
</body>
</html>