<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/template.css')}}">
    <link rel="icon" type="image/svg+xml" href="{{url_for('static',filename='./img/icon.svg')}}">
    <script src="{{url_for('static',filename='./script/script.js')}}"></script>
    <title>널리 인간을 일 없게 하라</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
    <div id="titleBar">
        <div class="horizontalLine"></div>
        <a href="/"><div id="title">널리 인간을 일 없게 하라</div></a>
    </div>
    <header>
        <div id="loginDiv">
            {% if clientUser.getNo() != 0 %}
            <span id="loginUserName">{{ clientUser.getEmail() }} </span>
            <button id="userInfoBtn" onclick="window.location.href='/user/{{clientUser.getNo()}}'">회원정보</button>
            <form style="display: inline-block;" action="/logout" method="post">
                <button type="submit" id="logoutBtn">로그아웃</button>
            </form>
            {% else %}
            <form style="display: inline-block;" action="/login" method="post">
                <input name="email" type="email" autocomplete="username" placeholder="Email address"/>
                <input name="pw" type="password" autocomplete="current-password" placeholder="Password"/>
                <button type="submit" id="loginBtn">로그인</button>
            </form>
                <button onclick="window.location.href='/join'" id="joinBtn">회원가입</button>
                <button onclick="window.location.href='/find'" id="findPwBtn">비번찾기</button>
            {% endif %}
        </div>
    </header>
    <div class="horizontalLine" id="titleHorizontalLine"></div>
    <main>
        <div id="sidebarBtn" style="display: none;">menu</div>
        <div id="sidebar">
            <img src="{{url_for('static',filename='./img/logo.svg')}}" id="logoDiv"></img>
            <div id="noticeDiv">
                오늘도 행복한 하루 되시길 바랍니다.
            </div>
            <div id="userInfoDiv">
                {% if clientUser.getNo() != 0 %}
                {{clientUser.getEmail()}}({{clientUser.getIp()}})
                {% else %}
                Geust({{clientUser.getIp()}})
                {% endif %}
            </div>
            <div id="searchDiv">
                <input id="searchInput" />
                <button id="searchBtn">search</button>
            </div>
            <div id="categoryDiv">
                <span class="subTitle">Categories</span>
                <ul>
                    {% for category in categoryList %}
                    <li class="mainCategory">
                        {{category[0].getName()}}
                    </li>
                    <ul>
                        {% for childCategory in category[1] %}
                        <li class="subCategory" onclick="window.location.href='/category/{{childCategory.getNo()}}'">
                            {{childCategory.getName()}} ({{childCategory.getCount()}})
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </ul>
            </div>
            <div id="recentDiv">
                <span class="subTitle">Latest View</span>
                <ul>
                    {% for recentlyTitle in recentlyTitleList %}
                    <li class="recentlyLi" onclick="window.location.href='/board/{{recentlyTitle[0]}}'">{{recentlyTitle[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="contents">
            {% block content %} {% endblock %}
        </div>
    </main>
<script src="{{url_for('static',filename='./script/template.js')}}"></script>
</body>
</html>