<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/templatePage.css')}}">
    <script src="{{url_for('static',filename='./script/script.js')}}"></script>
    <title>널리 인간을 일 없게 하라</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
    <div id="titleBar">
        <div class="horizontalLine"></div>
        <div id="title">널리 인간을 일 없게 하라</div>
    </div>
    <header>
        <div id="loginDiv">
            {% if clientUser.getNo() != 0 %}
            <span id="loginUserName">{{ clientUser.getEmail() }} </span>
            <form style="display: inline-block;" action="/logout" method="post">
                <button type="submit" id="logoutBtn">로그아웃</button>
            </form>
            {% else %}
            <form style="display: inline-block;" action="/login" method="post">
                <input name="email" type="email" autocomplete="username" placeholder="Email address"/>
                <input name="pw" type="password" autocomplete="current-password" placeholder="Password"/>
                <button type="submit" id="loginBtn">로그인</button>
            </form>
            {% endif %}
            <button id="joinBtn">회원가입</button>
            <button id="findPwBtn">비번찾기</button>
        </div>
    </header>
    <div class="horizontalLine" id="titleHorizontalLine"></div>
    <main>
        <div id="sidebar">
            <img src="{{url_for('static',filename='./img/logo.svg')}}" id="logoDiv"></img>
            <div id="noticeDiv">
                오늘도 행복한 하루 되시길 바랍니다.
            </div>
            <div id="userInfoDiv">
                {{clientUser.getEmail()}}({{clientUser.getMarkingIp()}})
            </div>
            <div id="searchDiv">
                <input id="searchInput" />
                <button id="searchBtn">search</button>
            </div>
            <div id="categoryDiv">
                <span class="subTitle">category</span>
                <ul>
                    {% for category in categoryList %}
                    <li class="mainCategory">{{category[0].getName()}}</li>
                    <ul>
                        {% for childCategory in category[1] %}
                        <li class="subCategory">-{{childCategory.getName()}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </ul>
            </div>
            <div id="recentDiv">
                <span class="subTitle">lastest</span>
                <ul>
                    {% for recentlyTitle in recentlyTitleList %}
                    <li class="recentlyLi">{{recentlyTitle[0]}}, {{recentlyTitle[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="contents">
            {% block content %} {% endblock %}
        </div>
    </main>
</body>
</html>