{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='./css/user.css')}}">
<div id="userDiv">
    <div class="subTitle">회원 정보</div>
    <div id="userInfo">
        <div class="userInfoTitle">이메일 :</div>
        <div class="userInfoContents">
            {% if clientUser.getNo() == targetUser.getNo() %}
            <span id="userEmail">{{targetUser.getEmail()}}</span>
            {% if clientUser.getState() == 1 %}
            <button id="userVerifyOpenBtn">인증받기</button>
            {% endif %}
            <button id="changePwOpenBtn">비번변경</button>
            <button id="userLeaveOpenBtn">회원탈퇴</button>
            {% else %}
            <span id="userEmail">{{targetUser.getMarkingEmail()}}</span>
            {% endif %}
        </div>
        <div class="userInfoTitle">가입 날짜 :</div>
        <div class="userInfoContents">
            {{targetUser.getJoinDate()}}
        </div>
        <div class="userInfoTitle">마지막 접속 :</div>
        <div class="userInfoContents">
            {{targetUserLastSessionTime}}
        </div>
        <div class="userInfoTitle">작성한 글 갯수 :</div>
        <div class="userInfoContents">
            {{targetUserBoardCount}}
        </div>
        <div class="userInfoTitle">작성한 댓글 갯수 :</div>
        <div class="userInfoContents">
            {{targetUserCommentCount}}
        </div>
        <div class="userInfoTitle">최근 글 :</div>
        <div class="userInfoContents">
            <ul>
                {% for board in targetUserBoardList %}
                <li onclick="window.location.href='/board/{{board.getNo()}}'">
                    <span class="pointer bolder">{{board.getTitle()}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="userInfoTitle">최근 댓글 :</div>
        <div class="userInfoContents">
            <ul>
                {% for comment in targetUserCommentList %}
                <li  onclick="window.location.href='/board/{{comment.getBoardNo()}}'">
                    <span class="pointer bolder">{{comment.getBoardShortTitle()}}</span><br>
                    <span class="pointer indentation"> ㄴ{{comment.getComment()}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% if clientUser.getNo() == targetUser.getNo() %}
<div id="changePwModal" style="display: none;">
    <form action="/changePw" method="post">
        <label for="userNowPw">now password:</label>
        <input id="userNowPw" name="userNowPw" type="password">
        <label for="userNewPw">new password:</label>
        <input id="userNewPw" name="userNewPw" type="password">
        <label for="userNewConfirm">confirm:</label>
        <input id="userNewConfirm" name="userNewConfirm" type="password">
        <span id="userChangePwInfo">영어,숫자,특수문자 포함된 8~16자리로 설정</span>
        <button id="changePwSubmitBtn" type="button">변경하기</button>
        <button id="changePwCancelBtn" type="button">취소하기</button>
    </form>
</div>
<div id="userLeaveModal" style="display: none;">
    <form action="/leave" method="post">
        <label for="userLeavePw">password:</label>
        <input id="userLeavePw" name="userLeavePw" type="password">
        <button id="userLeaveSubmitBtn" type="button">탈퇴하기</button>
        <button id="userLeaveCancelBtn" type="button">취소하기</button>
    </form>
</div>
{% if clientUser.getState() == 1 %}
<div id="userVerifyModal" style="display: none;">
    <form action="/getVerify" method="post">
        <input id="userVerifyInput" name="userVerifyInput" placeholder="인증코드">
        <button id="userVerifyConfirmBtn" type="button" disabled>인증받기</button>
        <button id="userVerifyMailBtn" type="button">메일발송</button>
        <button id="userVerifyCancelBtn" type="button">취소하기</button>
    </form>
</div>
{% endif %}
{% endif %}
<script src="{{url_for('static',filename='./script/user.js')}}"></script>
{% endblock %}