{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='./css/write.css')}}">
<div class="subTitle">WRITE</div>
<form id="editorForm" action="/writeBoard" method="POST">
    <div>
        <div id="writeTitleLabel">TITLE</div>
        <input name="title" id="writeTitle">
        <div id="writeSelectLabel">CATEGORY</div>
        <select id="writeSelect" name="selectCategory">
            {% for category in categoryList %}
                {% for childCategory in category[1] %}
                    <!-- 작성이 불가한 카테고리의 경우 무시-->
                    {% if 1==0 %}
                    <!-- 현재 카테고리 기본값으로 지정해야함 -->
                    {% elif 1==0 %}
                    <option value="{{childCategory.getNo()}}" selected>{{childCategory.getName()}}</option>
                    {% else %}
                    <option value="{{childCategory.getNo()}}">{{childCategory.getName()}}</option>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </select>
    </div>
    <div id="editor"></div>
    <input type="hidden" name="content" id="content">
    <button type="submit" id="submit-btn">저장</button>
    <button type="button" id="cancel-btn">취소</button>
</form>

<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script src="{{url_for('static',filename='./script/write.js')}}"></script>
{% endblock %}